*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.yourstruly
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #CAE7DF
}
img
{
	margin-top: 15px;
	margin-left: 45px;
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 5px;
  	width: 150px;
}
navbar
{
	display: flex;
	width: 0;	
	padding: 15px 0;
	align-items: center;
	justify-content: space-between;	
	
}
nav ul li
{
	display: inline-block;
	list-style:none;
	margin: 10px 10px;


}
nav ul li 
{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
nav ul li a:hover
{
	color: #000000;
}

.myintro
{
	margin-left: 8%;
	margin-top: 256px;
}
.myintro h1
{
	font-size: 37px;
	color: #000;
	margin-bottom: 20px;

}
span
{
	color: orange;
}
.myintro
{
	color: #555
	line-height: 10px;
	position: absolute;
	bottom: 30px;
	left:30px;
	margin: 20px 0px;
}


.myimages
{
	width: 45%;
	height: 80%;
	position: absolute;
	bottom: 0;
	right:70px;
}
.myintro A
{
	background: #212121;
	padding: 10px 18px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 40px 10px;
	border-radius: 6px;
}


.myimages img
{
	height:auto;
	position: absolute;
	left: 72%;
	bottom: 0;
	transform: translateX(-70%);
	transition: bottom 1s, left 1s;
	border-radius: 10px;
  	padding: 5px;
  	width: 90%;
}
.images:hover.shape
{
	bottom: 40px;
}
.mypic
{
	bottom: 100%;
	height:1000px;
}
.btn
{
 	background: #CAE7DF;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
